* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(white);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 96px;
    font-size: large;
}

header div {
    display: flex;
    align-items: center;
}

header div img {
    width: 56px;
    height: 56px;
    border-radius: 8px;
    margin-right: 12px;
}

header div h1 {
    display: flex;
    flex-direction: column;
    font-size: 32px;
    font-weight: 400;
    text-transform: uppercase;
}

header div h1 span {
    margin-bottom: -4px;
    font-size: medium;
    color: rgb();
}

header nav {
    display: flex;
}

header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

header nav ul li:not(:first-of-type) {
    margin-left: 32px;
}
    

main {
    display: flex;
    justify-content: space-between;
    padding-inline: 96px;
    margin-bottom: 48px;
}

main h1 {
    font-size: 64px;
    margin-top: 32px;
    margin-bottom: 32px;
}

main button:nth-child(2) {
    background-image: linear-gradient(rgb(156, 156, 156), rgb(156, 156, 156));
    border: 1.5px solid rgb(145, 145, 145);
    color: black;
    padding: 14px 40px;
    border-radius: 9999px;
    font-size: medium;
    cursor: pointer;
    margin-right: 8px;
}

main button:nth-child(3) {
    background-image: linear-gradient(rgb(156, 156, 156), rgb(156, 156, 156));
    border: 1.5px solid rgb(145, 145, 145   );
    color: #303030;
    padding: 14px 40px;
    border-radius: 9999px;
    font-size: medium;
    cursor: pointer;
}

main img {
    width: 350px;
    height: 350px;
    filter: drop-shadow(16px 16px 10px rgb(0, 0, 0, 0.25));
}

section ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    padding: 24px 128px 24px 96px;
}

section ul li {
    background: linear-gradient(145deg, #e1e1e1, #edecec);
    /* background: linear-gradient(145deg, #cacaca, #f0f0f0); */
    box-shadow: 20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 16px;
    padding: 12px;
}

section ul li img {
    width: 224px;
    height: 224px;
    object-fit: cover;
    margin-top: -20px;
    filter: drop-shadow(16px 16px 10px rgb(0, 0, 0, 0.1));
}

section ul li p {
    margin-top: 10px;
    text-align: center;
}
.price {
    margin-top: 16px;
    margin-bottom: 8px;
}
.navegacao{
    text-decoration: none;
    margin-right: 35px;
    color: black;
}
.cardsPratos {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card {
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 30px;
    margin: 20px;
    width: 400px;
    transition: all 0.3s ease-out;
  }
  .card:hover {
    transform: translateY(-5px);
    cursor: pointer;
  }
   
  .card p {
    color: #a3a5ae;
    font-size: 16px;
  }
   
  .image {
    float: right;
    justify-content: center;
  }
  .segunda {
    border-left: 3px solid #000000;
  }
   
  .terca {
    border-left: 3px solid #000000;
  }
   
  .quarta {
    border-left: 3px solid #000000;
  }
  
  .quinta {
    border-left: 3px solid #000000;
  }
  .sexta {
    border-left: 3px solid #000000;
  }